<div>
    <h2 id="page-heading">
        <span>Restaurant Workers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurant-worker" [routerLink]="['/restaurant-worker/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Restaurant Worker
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="restaurantWorkers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Worker Name</span></th>
            <th><span>Worker Surname</span></th>
            <th><span>Working Status</span></th>
            <th><span>Employer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let restaurantWorker of restaurantWorkers ;trackBy: trackId">
                <td><a [routerLink]="['/restaurant-worker', restaurantWorker.id, 'view' ]">{{restaurantWorker.id}}</a></td>
                <td>{{restaurantWorker.workerName}}</td>
                <td>{{restaurantWorker.workerSurname}}</td>
                <td>{{restaurantWorker.workingStatus}}</td>
                <td>
                    <span *ngFor="let employer of restaurantWorker.employers; let last = last">
                            <a class="form-control-static" [routerLink]="['../restaurant', employer?.id, 'view' ]">{{employer.nameSlug}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/restaurant-worker', restaurantWorker.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/restaurant-worker', restaurantWorker.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'restaurant-worker/'+ restaurantWorker.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
