<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="restaurantWorker">
            <h2><span>Restaurant Worker</span> {{restaurantWorker.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Worker Name</span></dt>
                <dd>
                    <span>{{restaurantWorker.workerName}}</span>
                </dd>
                <dt><span>Worker Surname</span></dt>
                <dd>
                    <span>{{restaurantWorker.workerSurname}}</span>
                </dd>
                <dt><span>Working Status</span></dt>
                <dd>
                    <span>{{restaurantWorker.workingStatus}}</span>
                </dd>
                <dt><span>Employer</span></dt>
                <dd>
                    <span *ngFor="let employer of restaurantWorker.employers; let last = last">
                        <a [routerLink]="['/restaurant', employer?.id, 'view' ]">{{employer.nameSlug}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/restaurant-worker', restaurantWorker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
