<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-restaurant-worker-heading" jhiTranslate="propsyBackendv01App.restaurantWorker.home.createOrEditLabel">Create or edit a Restaurant Worker</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!restaurantWorker.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="restaurantWorker.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.restaurantWorker.workerName" for="field_workerName">Worker Name</label>
                    <input type="text" class="form-control" name="workerName" id="field_workerName"
                        [(ngModel)]="restaurantWorker.workerName" required/>
                    <div [hidden]="!(editForm.controls.workerName?.dirty && editForm.controls.workerName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.workerName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.restaurantWorker.workerSurname" for="field_workerSurname">Worker Surname</label>
                    <input type="text" class="form-control" name="workerSurname" id="field_workerSurname"
                        [(ngModel)]="restaurantWorker.workerSurname" required/>
                    <div [hidden]="!(editForm.controls.workerSurname?.dirty && editForm.controls.workerSurname?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.workerSurname?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.restaurantWorker.workingStatus" for="field_workingStatus">Working Status</label>
                    <input type="number" class="form-control" name="workingStatus" id="field_workingStatus"
                        [(ngModel)]="restaurantWorker.workingStatus" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="propsyBackendv01App.restaurantWorker.employer" for="field_employer">Employer</label>
                    <select class="form-control" id="field_employer" multiple name="employer" [(ngModel)]="restaurantWorker.employers">
                        <option [ngValue]="getSelected(restaurantWorker.employers, restaurantOption)" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.nameSlug}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
