<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paymentMethod">
            <h2><span jhiTranslate="propsyBackendv01App.paymentMethod.detail.title">Payment Method</span> {{paymentMethod.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="propsyBackendv01App.paymentMethod.paymentName">Payment Name</span></dt>
                <dd>
                    <span>{{paymentMethod.paymentName}}</span>
                </dd>
                <dt><span jhiTranslate="propsyBackendv01App.paymentMethod.payment">Payment</span></dt>
                <dd>
                    <div *ngIf="paymentMethod.payment">
                        <a [routerLink]="['/payment', paymentMethod.payment?.id, 'view']">{{paymentMethod.payment?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-method', paymentMethod.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
