<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deliveryPersonnel">
            <h2><span jhiTranslate="propsyBackendv01App.deliveryPersonnel.detail.title">Delivery Personnel</span> {{deliveryPersonnel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="propsyBackendv01App.deliveryPersonnel.name">Name</span></dt>
                <dd>
                    <span>{{deliveryPersonnel.name}}</span>
                </dd>
                <dt><span jhiTranslate="propsyBackendv01App.deliveryPersonnel.surname">Surname</span></dt>
                <dd>
                    <span>{{deliveryPersonnel.surname}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delivery-personnel', deliveryPersonnel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
