<div>
    <h2 id="page-heading">
        <span jhiTranslate="propsyBackendv01App.deliveryPersonnel.home.title">Delivery Personnels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-delivery-personnel" [routerLink]="['/delivery-personnel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="propsyBackendv01App.deliveryPersonnel.home.createLabel">
            Create new Delivery Personnel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="deliveryPersonnels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="propsyBackendv01App.deliveryPersonnel.name">Name</span></th>
            <th><span jhiTranslate="propsyBackendv01App.deliveryPersonnel.surname">Surname</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deliveryPersonnel of deliveryPersonnels ;trackBy: trackId">
                <td><a [routerLink]="['/delivery-personnel', deliveryPersonnel.id, 'view' ]">{{deliveryPersonnel.id}}</a></td>
                <td>{{deliveryPersonnel.name}}</td>
                <td>{{deliveryPersonnel.surname}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/delivery-personnel', deliveryPersonnel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/delivery-personnel', deliveryPersonnel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delivery-personnel/'+ deliveryPersonnel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
