<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-food-heading" jhiTranslate="propsyBackendv01App.food.home.createOrEditLabel">Create or edit a Food</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!food.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="food.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.food.nameSlug" for="field_nameSlug">Name Slug</label>
                    <input type="text" class="form-control" name="nameSlug" id="field_nameSlug"
                        [(ngModel)]="food.nameSlug" required/>
                    <div [hidden]="!(editForm.controls.nameSlug?.dirty && editForm.controls.nameSlug?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nameSlug?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.food.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="food.price" required/>
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.food.foodDescription" for="field_foodDescription">Food Description</label>
                    <input type="text" class="form-control" name="foodDescription" id="field_foodDescription"
                        [(ngModel)]="food.foodDescription" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.food.calories" for="field_calories">Calories</label>
                    <input type="number" class="form-control" name="calories" id="field_calories"
                        [(ngModel)]="food.calories" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.food.isSpicy" for="field_isSpicy">Is Spicy</label>
                    <input type="checkbox" class="form-control" name="isSpicy" id="field_isSpicy"
                        [(ngModel)]="food.isSpicy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.food.isVegetarian" for="field_isVegetarian">Is Vegetarian</label>
                    <input type="checkbox" class="form-control" name="isVegetarian" id="field_isVegetarian"
                        [(ngModel)]="food.isVegetarian" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.food.isGlutenFree" for="field_isGlutenFree">Is Gluten Free</label>
                    <input type="checkbox" class="form-control" name="isGlutenFree" id="field_isGlutenFree"
                        [(ngModel)]="food.isGlutenFree" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.food.photoLocation" for="field_photoLocation">Photo Location</label>
                    <input type="text" class="form-control" name="photoLocation" id="field_photoLocation"
                        [(ngModel)]="food.photoLocation" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
