<div>
    <h2 id="page-heading">
        <span>Foods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-food" [routerLink]="['/food/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Food
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="foods">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name Slug</span></th>
            <th><span>Food Description</span></th>
            <th><span>Calories</span></th>
            <th><span>Is Spicy</span></th>
            <th><span>Is Vegetarian</span></th>
            <th><span>Is Gluten Free</span></th>
            <th><span>Photo Location</span></th>
            <th><span>Order</span></th>
            <th><span>Menu List</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let food of foods ;trackBy: trackId">
                <td><a [routerLink]="['/food', food.id, 'view' ]">{{food.id}}</a></td>
                <td>{{food.nameSlug}}</td>
                <td>{{food.foodDescription}}</td>
                <td>{{food.calories}}</td>
                <td>{{food.isSpicy}}</td>
                <td>{{food.isVegetarian}}</td>
                <td>{{food.isGlutenFree}}</td>
                <td>{{food.photoLocation}}</td>
                <td>
                    <div *ngIf="food.order">
                        <a [routerLink]="['../food-in-order', food.order?.id, 'view' ]" >{{food.order?.nameSlug}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="food.menuList">
                        <a [routerLink]="['../food-in-menu', food.menuList?.id, 'view' ]" >{{food.menuList?.nameSlug}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/food', food.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/food', food.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'food/'+ food.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
