<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ingredient">
            <h2><span jhiTranslate="propsyBackendv01App.ingredient.detail.title">Ingredient</span> {{ingredient.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="propsyBackendv01App.ingredient.nameSlug">Name Slug</span></dt>
                <dd>
                    <span>{{ingredient.nameSlug}}</span>
                </dd>
                <dt><span jhiTranslate="propsyBackendv01App.ingredient.price">Price</span></dt>
                <dd>
                    <span>{{ingredient.price}}</span>
                </dd>
                <dt><span jhiTranslate="propsyBackendv01App.ingredient.photoLocation">Photo Location</span></dt>
                <dd>
                    <span>{{ingredient.photoLocation}}</span>
                </dd>
                <dt><span jhiTranslate="propsyBackendv01App.ingredient.ingredientDescription">Ingredient Description</span></dt>
                <dd>
                    <span>{{ingredient.ingredientDescription}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ingredient', ingredient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
