<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ingredient-heading" jhiTranslate="propsyBackendv01App.ingredient.home.createOrEditLabel">Create or edit a Ingredient</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ingredient.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ingredient.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.ingredient.nameSlug" for="field_nameSlug">Name Slug</label>
                    <input type="text" class="form-control" name="nameSlug" id="field_nameSlug"
                        [(ngModel)]="ingredient.nameSlug" required/>
                    <div [hidden]="!(editForm.controls.nameSlug?.dirty && editForm.controls.nameSlug?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nameSlug?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.ingredient.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="ingredient.price" required/>
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.ingredient.photoLocation" for="field_photoLocation">Photo Location</label>
                    <input type="text" class="form-control" name="photoLocation" id="field_photoLocation"
                        [(ngModel)]="ingredient.photoLocation" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="propsyBackendv01App.ingredient.ingredientDescription" for="field_ingredientDescription">Ingredient Description</label>
                    <input type="text" class="form-control" name="ingredientDescription" id="field_ingredientDescription"
                        [(ngModel)]="ingredient.ingredientDescription" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
