<div>
    <h2 id="page-heading">
        <span>Food In Menus</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-food-in-menu" [routerLink]="['/food-in-menu/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Food In Menu
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="foodInMenus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Price</span></th>
            <th><span>Menu</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let foodInMenu of foodInMenus ;trackBy: trackId">
                <td><a [routerLink]="['/food-in-menu', foodInMenu.id, 'view' ]">{{foodInMenu.id}}</a></td>
                <td>{{foodInMenu.price}}</td>
                <td>
                    <div *ngIf="foodInMenu.menu">
                        <a [routerLink]="['../menu', foodInMenu.menu?.id, 'view' ]" >{{foodInMenu.menu?.nameSlug}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/food-in-menu', foodInMenu.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/food-in-menu', foodInMenu.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'food-in-menu/'+ foodInMenu.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
