<div>
    <h2 id="page-heading">
        <span>Ingredient Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ingredient-order" [routerLink]="['/ingredient-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ingredient Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ingredientOrders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Comment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ingredientOrder of ingredientOrders ;trackBy: trackId">
                <td><a [routerLink]="['/ingredient-order', ingredientOrder.id, 'view' ]">{{ingredientOrder.id}}</a></td>
                <td>{{ingredientOrder.date | date:'mediumDate'}}</td>
                <td>{{ingredientOrder.comment}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ingredient-order', ingredientOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ingredient-order', ingredientOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ingredient-order/'+ ingredientOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
