<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ingredientOrder">
            <h2><span jhiTranslate="propsyBackendv01App.ingredientOrder.detail.title">Ingredient Order</span> {{ingredientOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="propsyBackendv01App.ingredientOrder.date">Date</span></dt>
                <dd>
                    <span>{{ingredientOrder.date}}</span>
                </dd>
                <dt><span jhiTranslate="propsyBackendv01App.ingredientOrder.totalPrice">Total Price</span></dt>
                <dd>
                    <span>{{ingredientOrder.totalPrice}}</span>
                </dd>
                <dt><span jhiTranslate="propsyBackendv01App.ingredientOrder.comment">Comment</span></dt>
                <dd>
                    <span>{{ingredientOrder.comment}}</span>
                </dd>
                <dt><span jhiTranslate="propsyBackendv01App.ingredientOrder.ingredientList">Ingredient List</span></dt>
                <dd>
                    <span *ngFor="let ingredientList of ingredientOrder.ingredientLists; let last = last">
                        <a [routerLink]="['/ingredient', ingredientList?.id, 'view' ]">{{ingredientList.nameSlug}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ingredient-order', ingredientOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
